bookinformation.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT bookstore (book+)>
<!ELEMENT book (title,author,genre,copyrightyear,edition,publisher,ISBNnumber,price)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT author (#PCDATA)>
<!ELEMENT genre (#PCDATA)>
<!ELEMENT copyrightyear (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!ELEMENT ISBNnumber (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT price (#PCDATA)>
